APP_NAME=MyApp
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8080
LOG_CHANNEL=stderr
DB_CONNECTION=pgsql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=myapp
DB_USERNAME=myapp
DB_PASSWORD=
SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database
